body {
    max-width: 960px;
    margin: auto;
}
canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.chart {
    display: block;
    animation: chart-animation 1ms;
}

.hide {
    opacity: 0;
}

.show {
    opacity: 1;
}

@keyframes chart-animation {
    from {
        opacity: .99
    }

    to {
        opacity: 1
    }
}

#saving {
    float: right;
}

.control-buttons button {
    width: 150px;
}

.footer {
    padding: 1rem 1.5rem 1rem;
}